:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  position: relative;
}

body::before {
  background-image: url(bg.jpg);
  background-repeat: repeat;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  min-height: 100vh;
}

.content {
  justify-content: center;
  text-align: center;
}

#game {
  min-height: 600px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


@media (max-width: 680px) {
  #bmc-wbtn {
    display: none !important;
  }
}
