:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.content {
  justify-content: center;
  text-align: center;
}

#game {
  min-height: 600px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


@media (max-width: 680px) {
  #bmc-wbtn {
    display: none !important;
  }
}